<div class="l">

    <!-- information -->
    <div class="info info__small info__small--shop">
        <div class="image">
            <img src="images/book-1.jpg" alt="book-1">
        </div>
        <div class="name name--gray">
            <p class="caption caption--white">100 ₴</p>
            <p class="like like--liked">157</p>
        </div>

        <!-- button -->
        <a href="/" class="btn btn--blue">купити книжку</a>
        <div class="social">
            <a href="https://www.facebook.com/chytomo/" target="_blank"></a>
            <a href="https://twitter.com/chytomo" target="_blank"></a>
        </div>
    </div>
</div>
<div class="lc">

    <!-- information -->
    <div class="info info__small info__small--shop">
        <div class="image">
            <img src="images/book-2.jpg" alt="book-2">
        </div>
        <div class="name name--gray">
            <p class="caption caption--white">140 ₴</p>
            <p class="like">321</p>
        </div>

        <!-- button -->
        <a href="/" class="btn btn--blue">купити книжку</a>
        <div class="social">
            <a href="https://www.facebook.com/chytomo/" target="_blank"></a>
            <a href="https://twitter.com/chytomo" target="_blank"></a>
        </div>
    </div>
</div>
<div class="rc">

    <!-- information -->
    <div class="info info__small info__small--shop">
        <div class="image">
            <img src="images/book-3.jpg" alt="book-3">
        </div>
        <div class="name name--gray">
            <p class="caption caption--white">210 ₴</p>
            <p class="like">132</p>
        </div>

        <!-- button -->
        <a href="/" class="btn btn--blue">купити книжку</a>
        <div class="social">
            <a href="https://www.facebook.com/chytomo/" target="_blank"></a>
            <a href="https://twitter.com/chytomo" target="_blank"></a>
        </div>
    </div>
</div>
<div class="r">
    
    <!-- information -->
    <div class="info info__small info__small--shop">
        <div class="image">
            <img src="images/book-4.jpg" alt="book-4">
        </div>
        <div class="name name--gray">
            <p class="caption caption--white">98 ₴</p>
            <p class="like">32</p>
        </div>

        <!-- button -->
        <a href="/" class="btn btn--blue">купити книжку</a>
        <div class="social">
            <a href="https://www.facebook.com/chytomo/" target="_blank"></a>
            <a href="https://twitter.com/chytomo" target="_blank"></a>
        </div>
    </div>
</div>