@font-face {
 	font-family: 'museo bold';
    src: url(../fonts/museo-bold.otf);
}
@font-face {
 	font-family: 'museo thin';
    src: url(../fonts/museo-thin.otf);
}
@font-face {
 	font-family: 'museo light';
    src: url(../fonts/museo-light.otf);
}
@font-face {
 	font-family: 'museo medium';
    src: url(../fonts/museo-medium.otf);
}
@font-face {
 	font-family: 'museo regular';
    src: url(../fonts/museo-regular.otf);
}
@font-face {
 	font-family: 'playfair bold';
    src: url(../fonts/playfair-bold.otf);
}
@font-face {
 	font-family: 'playfair black';
    src: url(../fonts/playfair-black.otf);
}