// sprites
@include add(icons, "icons/*.png", "icons-2x/*.png");
@include add(partners, "partners/*.png", "partners-2x/*.png");
@include add(share, "social-black/*.png", "social-black-2x/*.png");
@include add(hashtags, "social-blue/*.png", "social-blue-2x/*.png");
@include add(social, "social-white/*.png", "social-white-2x/*.png");
@include add(media, "social-orange/*.png", "social-orange-2x/*.png");

// ----- article -----
#article {
	position: relative;

	// ----- scroll -----
    &.scroll {
    	margin-top: 63px;
    }

    // ----- light -----
    .light {
    	top: 0;
    	left: 0;
    	z-index: -1;
    	background-color: $light-gray;
    	position: absolute;
		height: 100%;
		width: 100%;
    }

	// ----- block -----
	.block {
		margin: 25px 0 100px;
		@include media(phone) {
			margin: 25px 0;
		}
		a, .instead {
			width: 100%;
			height: 100%;
			display: block;
			overflow: hidden;
			position: relative;
			img {
				height: 100%;
				object-fit: cover;
				@include transition($time);
			}
		}
		&--typical {
			margin: 25px 0;
		}

		&--normal,
		&--typical {
			.row {
				height: 400px;
				margin-bottom: 30px;
				@include media(phone) {
					margin-bottom: 15px;
					height: 300px;
				}
			}
		}
		&--shop,
		&--calendar {
			padding: 75px 50px 50px;
			position: relative;
			background: $black;
			margin-right: 0;
			margin-left: 0;
			z-index: 1;
			@include media(phone) {
				padding: 50px 25px 25px;
			}
			&:after {
			    content: "";
			    z-index: -2;
			    position: absolute;
			    border: 25px solid transparent;
			    animation: arrow $time * 2 $time * 3;
			    border-bottom: 25px solid $black;
			    animation-fill-mode: forwards;
			    @include media(phone) {
			    	left: calc(50% - 25px) !important;
			    }
			}
			&[data-name="l"] {
				&:after {
			    	left: calc(12.5% - 35px);
				}
				.narrow,
				.filling {
					.l {
						display: block;
					}
				}
			}
			&[data-name="lc"] {
				&:after {
			    	left: calc(37.5% - 28px);
				}
				.narrow,
				.filling {
					.lc {
						display: block;
					}
				}
			}
			&[data-name="rc"] {
				&:after {
			    	left: calc(62.5% - 20px);
				}
				.narrow,
				.filling {
					.rc {
						display: block;
					}
				}
			}
			&[data-name="r"] {
				&:after {
			    	left: calc(87.5% - 13px);
				}
				.narrow,
				.filling {
					.r {
						display: block;
					}
				}
			}
			&.row {
				height: auto;
				margin-bottom: 0;
			}
			.narrow {
				animation: fade $time * 9;
			    animation-fill-mode: forwards;
				& > div {
					display: none;
				}
				&.unfade {
					animation: unfade $time * 3;
				    animation-fill-mode: forwards;
				}
			}
			.filling {
				animation: fade $time * 9;
			    animation-fill-mode: forwards;
			    & > div {
					display: none;
				}
				&.unfade {
					animation: unfade $time * 3;
				    animation-fill-mode: forwards;
				}
				.description {
					color: $white;
	                font-size: em(19);
					@include transition($time);
	            	margin-bottom: 30px;
	                &--big {
	                	font-size: em(19);
		                line-height: 27px;
		                font-family: $playfair-black;
	                }
	                &--small {
	                	margin-top: 30px;
	                	font-size: em(15);
		                line-height: 27px;
	                	letter-spacing: .5px;
	        			font-family: $museo-medium;
	                }
				}
				.text {
	            	color: $white;
	            	font-size: em(15);
	            	line-height: 27px;
	            	font-family: $museo-thin;
	            }
			}
			.close {
				top: 20px;
				right: 20px;
				position: absolute;
				@include inline-block;
				@include image-retina("/../images/close.png", "/../images/close-2x.png");
				&:focus,
				&:hover {
                    @include image-retina("/../images/close-blue.png", "/../images/close-blue-2x.png");
				}
			}
		}
		&--shop {
			padding: 100px 50px 50px;
			@include media(phone) {
				padding: 50px 25px 25px;
			}
			.narrow {
				.btn {
				    left: 0;
				    right: 0;
				    bottom: -30%;
				    text-align: center;
				    position: absolute;
				    height: auto;
				    width: auto;
				}
			}
			.filling {
				.description {
	                &--big {
	                	color: $blue;
	                }
				}
			}
		}
		&__main {
			margin-bottom: 0;
		}
		&__shop,
		&__calendar {
			@include media(phone) {
				margin-bottom: 50px;
			}
			.row {
				margin-bottom: 0;
				margin-top: 100px;
				&:first-of-type {
					margin-top: 0;
				}
			}
		}
		&__shop {
			margin: 100px 0;
		}
		&__calendar {
			margin: 75px 0;
			@include media(phone) {
				
			}
		}
		.row {
			&:last-of-type {
				margin-bottom: 0;
			}
		}

		// ----- button -----
		.btn {
			display: block;
			margin: 50px auto 0;
			@include media(phone) {
				margin: 25px auto 0;
			}
		}

		// ----- gradient -----
		.grad {
			@include transition($time);
			position: absolute;
			height: 100%;
			z-index: 1;
		}

		// ----- information -----
		.info {
			z-index: 1;
			position: absolute;

			// ----- name -----
			.name {
				width: 100%;
				color: $white;
				text-align: left;
				font-family: $playfair-bold;
				&--light {
					span {
						color: $light-gray;
					}
				}
				&--gray {
					span {
						color: $gray;
					}
				}
				&--dark {
					span {
						color: $dark-gray;
					}
				}
				.liner {
					font-size: em(10);
					margin-bottom: 30px;
					letter-spacing: 2px;
					text-transform: uppercase;
					font-family: $museo-medium;
					&--orange {
						color: $orange;
					}
					&--black {
						color: $black;
					}
					&--blue {
						color: $blue;
					}
					&--gold {
						color: $gold;
					}
					&--green {
						color: $green;
					}
					&--gray {
						color: $gray;
					}
					&--light {
						color: $light-gray;
					}
					&--dark {
						color: $dark-gray;
					}
				}
				.caption {
					@include transition($time);
					&--black {
						color: $black;
					}
				}
				& > span {
					display: block;
					font-size: em(10);
					line-height: 16px;
					font-family: $museo-medium;
				}
				span {
					letter-spacing: 1.5px;
					text-transform: uppercase;
				}
			}
			&__small {
				bottom: 4%;
				padding: 0 35px;
				@include media(phone) {
					padding: 0 20px;
				}
				.name {
					.caption {
						font-size: em(20);
						line-height: 27px;
						@include media(phone) {
							font-size: em(15);
							line-height: 22px;
						}
					}
					& > span {
						margin-top: 30px;
					}
				}
				&--option {
					top: 27px;
					padding: 0;
					bottom: initial;
					.name {
						.liner {
							margin-bottom: 10px;
						}
						.caption {
							font-size: em(18);
							max-height: 105px;
							overflow: hidden;
							@include media(phone) {
								max-height: 66px;
							}
						}
						& > span {
							margin-top: 15px;
						}
					}
				}
				&--shop,
				&--calendar {
					top: 0;
					height: 100%;
					padding: 0 20px;
					position: relative;
					.name {
						height: 100%;
						.caption {
							overflow: hidden;
							margin-top: 65px;
							line-height: 27px;
							max-height: 185px;
							font-size: em(18);
							font-family: $playfair-black;
							@include media(phone) {
								max-height: 105px;
							}
						}
						& > span {
							bottom: 75px;
							margin-top: 15px;
							position: absolute;
						}
					}
					.liner {
					    margin: 0;
					    position: absolute;
					    &:first-of-type {
					    	margin-bottom: 15px;
					    	bottom: 80px;
					    }
					    &:last-of-type {
					    	bottom: 0;
					    }
					}
				}
				&--shop {
					text-align: center;
					height: calc(100% + 30px);
					.image {
						position: relative;
						margin-top: -30px;
						height: 195px;
						img {
							max-width: 150px;
							position: absolute;
							margin: 0 auto;
							height: auto;
							bottom: 0;
							right: 0;
							left: 0;
						}
					}
					.name {
						height: auto;
						text-align: center;
						.liner {
						    position: initial;
						    margin-bottom: 0;
						}
						.caption {
							overflow: hidden;
							margin-top: 25px;
							max-height: 135px;
							@include media(phone) {
								max-height: 25px;
							}
						}
						& > span {
							font-family: $playfair-bold;
							margin-bottom: 5px;
							font-size: em(12);
							position: initial;
							margin-top: 25px;
							color: $black;
							bottom: 0;
						}
						.like {
							background-color: $light-gray;
							font-family: $museo-regular;
							position: absolute;
							font-size: em(14);
						    cursor: pointer;
						    margin: 0 auto;
						    bottom: -12px;
						    width: 65px;
						    right: 0;
						    left: 0;
						    &:before {
						    	content: "";
					    		margin-right: 5px;
	        					transform: scale(.8);
						    	@include inline-block;
								@include image-retina("/../images/like.png", "/../images/like-2x.png");
						    }
						    &--liked {
						    	pointer-events: none;
						    	&:before {
									@include image-retina("/../images/like-white.png", "/../images/like-white-2x.png");
						    	}
						    }
						}
					}
					&:focus img,
					&:hover img {
						box-shadow: 0 30px 40px rgba(0, 0, 0, 0.15);
					}
				}
			}
			&__large {
				height: 100%;
				.name {
					.caption {
						font-size: em(25);
						line-height: 32px;
						@include media(phone) {
							line-height: 34px;
							font-size: em(20);
						}
					}
					& > span {
						margin-top: 40px;
					}
				}
				&--option {
					padding: 0 46% 0 30px;
					@include media(phone) {
						padding-left: 15px;
					}
				}
			}
		}

		// ----- wide block -----
		.wide {
			img {
				min-width: 70%;
				max-width: 100%;
			}
			&:focus .grad,
			&:hover .grad {
				width: 100%;
			}
			.info {
				width: calc(65% - 135px);
				@include media(phone) {
					width: calc(100% - 40px);
				}
				&__large {
					padding: 0 75px 0 60px;
					@include media(phone) {
						padding: 0 20px;
					}
				}
			}
			.grad {
				width: 65%;
				@include media(phone) {
					width: 100%;
				}
				&__above {
					opacity: .8;
					&.grad--red {
						background-color: $red;
					}
					&.grad--purple {
						background-color: $purple;
					}
					&.grad--blue {
						background-color: $dark-blue;
					}
				}
			}
			&__typical {
				img {
					min-width: 100%;
				}
				.grad {
					width: 100%;
					&__under {
						&.grad--black {
							opacity: .5;
							@include background-image(linear-gradient(to left, transparent, $black));
						}		
					}
				}
			}
			&__full {
				&:focus .grad,
				&:hover .grad {
					width: 100%;
				}
				.info {
					width: calc(60% - 145px);
					@include media(phone) {
						width: calc(100% - 40px);
					}
					&--large {
						padding: 0 65px 0 60px;
						@include media(phone) {
							padding: 0 20px;
						}
					}
				}
				.grad {
					width: 60%;
					@include media(phone) {
						width: 100%;
					}
				}
			}
			&--l {
				img {
					float: right;
				}
				.info {
					left: 0;
				}
				.grad {
					left: 0;
					&__under {
						&.grad--red {
							@include background-image(linear-gradient(to left, transparent, $red, $red));
						}
						&.grad--purple {
							@include background-image(linear-gradient(to left, transparent, $purple, $purple));
						}
						&.grad--blue {
							@include background-image(linear-gradient(to left, transparent, $dark-blue, $dark-blue));
						}
					}
				}
			}
			&--r {
				img {
					float: left;
				}
				.info {
					right: 0;
				}
				.grad {
					right: 0;
					&__under {
						&.grad--red {
							@include background-image(linear-gradient(to right, transparent, $red, $red));
						}
						&.grad--purple {
							@include background-image(linear-gradient(to right, transparent, $purple, $purple));
						}
						&.grad--blue {
							@include background-image(linear-gradient(to right, transparent, $dark-blue, $dark-blue));
						}
					}
				}
			}
		}

		// ----- narrow block -----
		.narrow {
			img {
				width: 100%;
			}
			.viewed {
				z-index: 1;
				color: $white;
				font-size: em(10);
				padding-left: 10px;
				font-family: $museo-thin;
				position: absolute;
				display: none;
				bottom: 4%;
				right: 4%;
				@include media(phone) {
					display: block;
				}
				&:before {
					@include image-retina("/../images/eye.png", "/../images/eye-2x.png");
					@include inline-block;
					margin-right: 8px;
					content: "";
				}
			}
			.grad {
				width: 100%;
				&__valign {
					&.grad--black {
						@include background-image(linear-gradient(to bottom, transparent, $black));
					}
					&.grad--orange {
						@include background-image(linear-gradient(to bottom, transparent, $orange));
					}
					&.grad--clear {
						background: $black;
						opacity: 0;
					}
				}
			}
			&__small,
			&__large {
				a {
					height: 50%;
				}
				&--calendar.inside,
				&--calendar.select,
				&:hover {
					.liner {
						&--blue + .caption {
							color: $blue;
						}
						&--gray + .caption {
							color: $gray;
						}
						&--orange + .caption {
							color: $orange;
						}
						&--gold + .caption {
							color: $gold;
						}
						&--green + .caption {
							color: $green;
						}
					}
				}
				&--shop,
				&--calendar {
					position: relative;
					& > a,
					& > div {
						height: 100%;
						border: 1px solid;
						overflow: initial;
						transition: $time;
						border-color: $black;
						.date {
							font-family: $playfair-black;
							position: absolute;
							font-size: em(80);
							color: $black;
							left: 20px;
							top: -80px;
							sub {
								font-size: em(5);
								bottom: -12.5px;
							}
						}
					}
					&.inside {
						height: 400px;
						& > div {
							border-color: $white;
							.date {
								color: $white;
							}
							.social {
								position: absolute;
								bottom: 20px;
								right: 20px;
							    a {
							        margin-right: 5px;
							        @include inline-block;
							        &[href*="facebook"] {
							        	@include sprite(facebook, social);
							        }
							        &[href*="twitter"] {
							        	@include sprite(twitter, social);
							        }
							        &:last-of-type {
							        	margin-right: 0;
							        }
							    }
							}
						}
					}
					&.select {
						& > a,
						& > div {
							box-shadow: 0 30px 40px rgba(0,0,0,.15);
							border-color: $white;
						}
					}
				}
				&--shop {
					& > a,
					& > div {
						border-color: $white;
					}
					&.inside {
						height: 250px;
						& > div {
							img {
	    						max-width: 150px;
							}
							.name {
								.caption {
									font-family: $museo-regular;
									font-size: em(20);
								}
								.like {
									background-color: $black;
									&:focus,
									&:hover {
										&:before {
											@include image-retina("/../images/like-red.png", "/../images/like-red-2x.png");
										}
									}
								}
							}
							.social {
								margin: 0 auto;
								bottom: -50%;
								width: 54px;
								right: 0;
								left: 0;
								a {
									margin-right: 10px;
								}
							}
						}
						&:focus,
						&:hover {
							img {
								transform: scale(1);
								box-shadow: none;
							}
						}
					}
					&.select {
						& > a,
						& > div {
							box-shadow: none;
							border-color: $blue;
							.name {
								.caption {
									color: $blue;
								}
								.like {
									&:before {
										@include image-retina("/../images/like-red.png", "/../images/like-red-2x.png");
									}
								}
							}
						}
					}
				}
			}
			&__large {
				a {
					&:first-of-type {
						height: 60%;
					}
					&:last-of-type {
						height: 40%;
					}
					.info__small--option .name .caption {
						max-height: 80px;
						@include media(phone) {
							max-height: 45px;
						}
					}
				}
			}
			&:focus,
			&:hover {
				img {
					transform: scale(1.05);
				}
				.viewed {
					display: flex;
				}
				.grad {
					&__valign {
						&.grad--black,
						&.grad--orange {
							opacity: .75;
						}
						&.grad--clear {
							opacity: .4;
						}
					}
				}
			}
		}
	}

	// ----- content -----
	.content {
		margin-bottom: 100px;
		@include media(phone) {
			margin-bottom: 50px;
		}

		// ----- author -----
		.author {
			text-align: center;
			img {
				width: 80px;
				height: 80px;
				object-fit: cover;
				margin-bottom: 10px;
				@include border-radius(50px);
			}
			.name {
				text-transform: uppercase;
				font-family: $museo-bold;
				font-size: em(12);
			}
		}
		.share {
			padding: 10px 0;
			font-size: em(14);
			text-align: center;
			text-transform: uppercase;
			font-family: $museo-medium;
			letter-spacing: 2px;
			color: $light-gray;
			margin-top: 50px;
			border: 1px solid;
			border-bottom: none;
			@include media(phone) {
				margin-top: 25px;
			}
			&--black {
				float: left;
				color: $black;
				font-size: em(18);
				border: 1px solid;
				border-right: none;
				width: calc(70% - 2px);
				@include media(phone) {
					font-size: em(10);
				}
			}
		}
		.mistake {
			padding: 10px;
			text-align: left;
			font-size: em(11);
			margin-top: 25px;
			line-height: 18px;
			border: 1px solid;
			color: $light-gray;
			display: -webkit-inline-box;
			font-family: $museo-regular;
		}
		.social {
			height: 36px;
			position: relative;
			width: calc(100% - 2px);
			border: 1px solid $light-gray;
			@include media(phone) {
				margin-bottom: 25px;
			}
			&:after,
			&:before {
				top: 0;
				height: 100%;
				position: absolute;
				border-right: 1px solid $light-gray;
				content: "";
			}
			&:after {
				right: 33.33%;
			}
			&:before {
				left: 33.33%;
			}
			a {
				float: left;
				margin: 0 auto;
    			transform: scale(1);
				background-repeat: no-repeat;
			}
			&--black {
				float: left;
				height: 42px;
				margin-top: 50px;
				border-color: $black;
				width: calc(30% - 2px);
				@include media(phone) {
					margin-bottom: 0;
					margin-top: 25px;
					height: 32px;
				}
				&:after,
				&:before {
					border-color: $black;
				}
				a {
					@include inline-block;
			        &[href*="facebook"] {
			        	@include sprite(facebook, share);
			        }
			        &[href*="twitter"] {
			        	@include sprite(twitter, share);
			        }
			        &[href*="telegram"] {
			        	@include sprite(telegram, share);
			        }
				}
			}
		}

		// ----- text -----
		.text {
			line-height: 32px;
			margin-bottom: 75px;
			@include media(phone) {
				margin-bottom: 25px;
			}
			b, .bold {
				font-size: em(20);
				font-family: $museo-bold;
			}
			img {
				margin: 25px auto;
				max-width: 100%;
				display: block;
				height: 100%;
			}
			p {
				line-height: 30px;
				font-family: $museo-light;
				b {
					font-size: em(16);
				}
			}
			.title {
				font-family: $museo-bold;
                padding: 50px 0 25px;
			}
			.heading {
                font-family: $playfair-bold;
                padding: 50px 0 25px;
                font-size: em(36);
			}
			.bolder {
				font-family: $museo-bold;
				font-size: em(16);
			}
			.quotes {
			    margin: 50px 0;
			    display: block;
				font-size: em(22);
				line-height: 35px;
				position: relative;
			    margin-left: -150px;
			    padding: 50px 100px;
				font-family: $museo-thin;
			    width: calc(100% + 100px);
				box-shadow: 10px 0 35px rgba(0,72,255,.08);
			    @include media(phone) {
			    	width: calc(100% - 50px);
			    	margin-left: 0;
			    	padding: 25px;
			    }
			    &:before,
			    &:after {
            		font-family: $museo-bold;
			    	position: absolute;
			    	font-style: italic;
					font-size: em(80);
					content: '"';
			    	color: $blue;
			    }
			    &:before {
			    	left: 10px;
			    	top: 10px;
			    }
			    &:after {
			    	bottom: -50px;
			    	right: 50px;
			    }
			}
		}
	}

	// ----- black -----
	.black {
		background-color: $black;
		margin-bottom: 50px;
		padding-top: 40px;
		display: flex;
		width: 100%;
		@include media(phone) {
			margin-bottom: 15px;
			padding-top: 25px;
		}
		img {
			position: absolute;
			max-width: 100%;
			bottom: 0;
			right: 0;
		}
		.title {
			line-height: 35px;
			padding-bottom: 45px;
			@include media(phone) {
				padding-bottom: 25px;
			}
			span {
				color: $green;
			}
		}
		.text {
			color: $white;
			line-height: 27px;
			font-size: em(17);
			padding-bottom: 60px;
			font-family: $museo-thin;
			@include media(phone) {
				padding: 0 0 25px;
			}
			span {
				color: $blue;
			}
		}
		&__calendar {
			padding: 0;
			.filter {
				select {
					background-color: $black;
					border-color: $white;
					color: $white;
				}
			}
			.narrow {
				& > a {
					border-color: $white;
					.date {
						color: $white;
					}
				}
			}
		}
		&__social {
			@include media(phone) {
				display: block;
			}
			img {
			    top: -85px;
    			bottom: inherit;
			}
			.social {
				float: inherit;
				transform: initial;
				margin: 50px 0 75px;
				@include media(phone) {
					margin: 0 0 25px;
				}
			    a {
			        margin-right: 75px;
        			transform: scale(1);
			        @include inline-block;
			        &[href*="facebook"] {
			        	@include sprite(facebook, media, hover);
			        }
			        &[href*="twitter"] {
			        	@include sprite(twitter, media, hover);
			        }
			        &[href*="feed"] {
			        	@include sprite(rss, media, hover);
			        }
			        &:last-of-type {
			        	margin-right: 0;
			        }
			    }
			}
		}
		&__contacts {
			margin-top: 50px;
			padding-top: 110px;
			@include media(phone) {
				padding-top: 25px;
				margin-top: 25px;
			}
			.title {
				font-family: $playfair-black;
				text-transform: initial;
				padding-bottom: 75px;
				font-size: em(48);
				color: $blue;
				@include media(phone) {
					padding-bottom: 25px;
					font-size: em(30);
				}
			}
			.text {
				padding-bottom: 100px;
				line-height: 35px;
				font-size: em(22);
				@include media(phone) {
					padding-bottom: 25px;
				}
			}
		}
		&__about-us {
			@extend .black__contacts;
			img {
				bottom: 35px;
			}
		}
	}

	// ----- contacts -----
	.contacts {
		text-align: left;
		margin: 140px 0 270px;
		@include media(phone) {
			margin: 50px 0;
		}
		p {
			font-size: em(22);
			padding-bottom: 25px;
			font-family: $museo-light;
		}
		a {
			font-family: $museo-medium;
			font-size: em(22);
			color: $blue;
		}
		.row {
			&.grid {
				margin-bottom: 75px;
				&:last-of-type {
					margin-bottom: 0;
				}
				@include media(phone) {
					margin-bottom: 25px;
				}
			}
		}
		.heading {
			font-family: $museo-medium;
			padding-bottom: 75px;
			letter-spacing: 3px;
			text-align: center;
			font-size: em(40);
			@include media(phone) {
				padding-bottom: 25px;
				font-size: em(30);
			}
		}
		&--r {
			p, a {
				padding-right: 25px;
				@include media(phone) {
					padding-right: 0;
				}
			}
		}
		&--l {
			p, a {
				padding-left: 25px;
				@include media(phone) {
					padding-left: 0;
				}
			}
		}
	}

	// ----- about-us -----
	.about-us {
		@extend .contacts;
		@include media(phone) {
			margin-bottom: 0;
		}
		p, li {
			color: $gray;
			font-size: em(16);
			line-height: 27px;
			@include media(phone) {
				text-align: left;
			}
		}
		ul li {
			&:before {
				content: "—";
				margin-right: 5px;
			}
		}
		.row {
			position: relative;
			margin-bottom: 140px;
			@include media(phone) {
				margin-bottom: 50px;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
		.heading {
			padding-bottom: 0;
		}
		.name {
			font-family: $museo-medium;
			padding-bottom: 30px;
			font-size: em(20);
			color: $blue;
			@include media(phone) {
				text-align: center;
			}
		}
		.icon {
			margin-top: 25px;
			margin-bottom: 25px;
			@include inline-block;
			&--freedom {
	        	@include sprite(freedom, icons);
			}
			&--synergy {
	        	@include sprite(synergy, icons);
			}
			&--borders {
	        	@include sprite(borders, icons);
			}
			&--brave {
	        	@include sprite(brave, icons);
			}
			&--quality {
	        	@include sprite(quality, icons);
			}
		}
		.photo {
			height: 450px;
			margin-top: 100px;
			position: relative;
			border: 1px solid $blue;
			@include media(phone) {
				margin: 100px 15px 0;
				height: 225px;
			}
			img {
				bottom: 0;
				max-width: 100%;
				position: absolute;
				&.padding {
					left: 0;
				}
				@include media(phone) {
					max-height: 325px;
				}
			}
			&--r {
				img {
					right: 60px;
				}
			}
			&--l {
				img {
					left: 60px;
				}
			}
		}
		.quotes {
			top: 25px;
			width: 50%;
			z-index: 1;
		    display: block;
		    margin-top: 100px;
			position: absolute;
		    padding: 50px 35px;
			background-color: $white;
			box-shadow: 10px 0 70px rgba(0,72,255,.1);
		    @include media(phone) {
		    	width: calc(100% - 150px);
		    	margin: 0 50px 50px;
		    	position: relative;
		    	padding: 25px;
		    }
		    &--r {
				right: 0;
		    }
		    &--l {
		    	left: 0;
		    }
		    .name {
		    	font-size: em(22);
		    	padding-bottom: 0;
		    	@include media(phone) {
		    		padding-bottom: 10px;
		    	}
		    }
		    .position {
		    	font-family: $museo-regular;
		    	line-height: initial;
		    	color: $black;
		    }
		    .info {
				font-family: $museo-thin;
		    	position: relative;
		    	padding-bottom: 0;
		    	line-height: 27px;
		    	&:before {
	        		font-family: $museo-bold;
			    	position: absolute;
			    	font-style: italic;
					font-size: em(80);
					content: '"';
			    	color: $blue;
			    	left: -65px;
			    	top: 25px;
			    }
		    }
		}
		&__block {
			height: 200px;
			position: relative;
			text-align: center;
			border: 1px solid $blue;
			@include media(phone) {
				margin: 0 15px 15px;
			}
			p {
				text-transform: uppercase;
				padding: 0;
			}
			&:nth-of-type(1) {
				margin-right: 17.5px;
				background-color: $blue;
				p {
					color: $white;
					margin: 0 auto;
					text-align: left;
					font-size: em(22);
					font-family: $museo-medium;
					@include media(phone) {
						font-size: em(18);
					}
				}
			}
			&:nth-of-type(2) {
				margin-left: 17.5px;
				p {
					font-family: $museo-thin;
					line-height: 27px;
					font-size: em(18);
					padding: 0 120px;
					text-align: left;
					color: $blue;
					@include media(phone) {
						font-size: em(13);
						padding: 0 45px;
					}
				}
				.social {
					top: -12px;
					left: 20px;
					position: absolute;
					a {
				        margin-right: 10px;
						transform: scale(1);
				        @include inline-block;
				        &[href*="facebook"] {
				        	@include sprite(facebook, hashtags);
				        }
				        &[href*="twitter"] {
				        	@include sprite(twitter, hashtags);
				        }
				        &:last-of-type {
				        	margin-right: 0;
				        }
				    }
				}
			}
			&--wide {
				p {
					padding: 0 200px;
					line-height: 30px;
					@include media(phone) {
						padding: 0;
					}
				}
			}
		}
		&--r {
			@include media(phone) {
				text-align: center;
			}
			p {
				padding: 0 50px 0 0;
				@include media(phone) {
					padding: 0;
				}
			}
			span {
				margin: 0 50px 0 0;
				@include media(phone) {
					margin: 0;
				}
			}
		}
		&--l {
			@include media(phone) {
				text-align: center;
			}
			p {
				padding: 0 0 0 50px;
				@include media(phone) {
					padding: 0;
				}
			}
			span {
				margin: 0 0 0 50px;
				@include media(phone) {
					margin: 0;
				}
			}
		}
	}

	// ----- partners -----
	.partners {
		margin: 65px 0;
		div {
			display: flex;
		    align-items: center;
		    flex-flow: row nowrap;
		    align-content: center;
		    justify-content: space-between;
		    a {
				@include inline-block;
				&[href*="buchmesse"] {
		        	@include sprite(buchmesse, partners);
		        }
		        &[href*="publishingperspectives"] {
		        	@include sprite(publishing, partners);
		        }
		        &[href*="bookforum"] {
		        	@include sprite(forum, partners);
		        }
		        &[href*="artarsenal"] {
		        	@include sprite(arsenal, partners);
		        }
			}
		}
	}

	// ----- news -----
	.news {
		margin: 25px 0 150px;
		@include media(phone) {
			margin: 25px 0;
		}
		div {
			&:first-of-type {
				padding-left: 0;
			}
			&:last-of-type {
				padding-right: 0;
			}
			a {
				display: block;
				&:focus p,
				&:hover p {
					&:first-of-type,
					&:last-of-type {
						color: $blue;
					}
				}
				p {
					transition: all $time;
					&:first-of-type {
						color: $light-gray;
						font-size: em(14);
						letter-spacing: 2px;
						font-family: $museo-medium;
						margin-bottom: 15px;
						display: block;
					}
					&:last-of-type {
						line-height: 19px;
						font-family: $museo-light;
						font-size: em(13);
						color: $black;
					}
				}
			}
		}
	}
}