<div class="black">
    <div class="container">
        <div class="row">
            <div class="x-12 s-8">
                
                <!-- title -->
                <p class="title title--white">Підтримайте проект</p>
                <p class="text">Фондуючи незалежну редакцію <span>Читомо</span>, ви допомагаєте зростити нове покоління<br>
                професіоналів видавничої справи і збільшуєте кількість хороших книжок у світі.</p>

                <!-- button -->
                <div class="button button__donate">
                    <input type="number" class="btn btn--white" placeholder="30 грн.">
                    <a href="#" class="btn btn--white">Разово</a>
                    <input type="number" class="btn btn--blue" placeholder="30 грн.">
                    <a href="#" class="btn btn--blue">Раз на місяць</a>
                </div>
            </div>
            <div class="x-h s-4">
                <img src="images/girl.png" alt="Підтримайте проект">
            </div>
        </div>
    </div>
</div>

<!-- ads -->
<div class="ads ads__normal">
    <div class="container">
        <div class="row">
            <div class="banner valign x-12 s-9">
                <p>наскрізний банер</p>
            </div>
            <div class="banner valign x-h s-3">
                <p>наскрізний банер</p>
            </div>
        </div>
    </div>
</div>

<!-- partners -->
<div class="partners x-h">
    <div class="container">
        <a href="https://www.buchmesse.de/de"></a>
        <a href="https://publishingperspectives.com"></a>
        <a href="http://bookforum.ua"></a>
        <a href="https://artarsenal.in.ua/uk/knizhkovij-arsenal/pro-proekt"></a>
    </div>
</div>