<!-- burger -->
<div class="burger">
    <a href="#">
        <div class="image"></div>
    </a>
</div>

<!-- search -->
<div class="search">
    <a href="#header" class="show" onclick="javascript:searchShow()">
        <div class="image"></div>
    </a>
    <a href="#header" class="hide" onclick="javascript:searchHide()">
        <div class="image"></div>
    </a>
</div>

<!-- calendar -->
<div class="calendar">
    <a href="https://mysecondspace.github.io/chytomo.com/build/calendar.html">
        <div class="image"></div>
    </a>
</div>